<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
    :root{
        --bg: #fff;
        --text: #333;
    }
        .container{
            width: 40px;
            height: 40px;
            box-shadow: 0px 0xp 10px gray;
            border: 2px solid transparent;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            transform: scale(2) rotate(45deg);
            animation: con 5s infinite;
            align-items: center;
            justify-content: center;
            padding-left: 10px;
            padding-right: 0px;
            padding-top: 5px;
            padding-bottom: 5px;
            z-index: 2;
        }
        .container span{
            border-radius: 50%;
            width: 10px;
            height: 10px;
            
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .a{
            
            background: rebeccapurple;
            animation: an 1.5s infinite;
    
        }
        .b{
            background: yellow;
            animation: bn 1.5s infinite;
        }
        .c{
            background: #f08080;
            animation: cn 1.5s infinite;
                    
        }
        .d{
             background: darkgreen;
            
             animation: dn 1.5s infinite;
        }
        @keyframes an{
            25%{
                
                
                transform: translate(10px);
            }
            50%{
                transform: translateY(10px);
            }
        }
        @keyframes bn{
            25%{
                transform: translateY(10px);
            }
            50%{
                transform: translateX(-10px);
            }
        }
        
        @keyframes cn{
            25%{
                transform: translateY(-10px);
            }
            50%{
                transform: translateX(10px);
            }
        }
        @keyframes dn{
            25%{
                transform: translate(-10px);
            }
            50%{
                transform: translateY(-10px);
            }
        }
        .loading{
            display: flex;
            align-items: center;
            margin-left: 20px;
        }
        .loading span{
            font-size: 50px;
            font-weight: bolder;
            color: var(--text);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .ll{
            animation: ld 2s infinite;
        }
        .lo{
            animation: lo 2s infinite;
        }
        .la{
            animation: la 2s infinite;
        }
        .ld{
            animation: ld 2s infinite;
        }
        .li{
            animation: li 2s infinite;
        }
        .ln{
            animation: ln 2s infinite;
        }
        .lg{
            animation: lg 2s infinite;
        }
        
        .lt{
            animation: lt 2s infinite;
        }
        .ltt{
            animation: ltt 2s infinite;
        }
        .lttt{
            animation: lttt 2s infinite;
        }
        @keyframes ll{
            5%{
                transform: translateY(-8px);
            }
        }
        @keyframes lo{
            15%{
                transform: translateY(-8px);
            }
        }
        @keyframes la{
            25%{
                transform: translateY(-8px);
                color: darkorange;
            }
        }
        @keyframes ld{
            35%{
                transform: rotate(360deg);
                color: darkorchid;
            }
        }
        @keyframes li{
            45%{
                transform: translateY(-8px);
                color: lawngreen;
            }
        }
        @keyframes ln{
            55%{
                transform: translateY(-8px);
            }
        }
        @keyframes lg{
            65%{
                transform: translateY(-8px);
            }
        }
        @keyframes lt{
            75%{
                transform: translateY(-8px);
            }
        }
        @keyframes ltt{
            85%{
                transform: translateY(-8px);
            }
        }
        @keyframes lttt{
            95%{
                transform: translateY(-8px);
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <span class="a"></span>
        <span class="b"></span>
        <span class="c"></span>
        <span class="d"></span>
    </div>
    <div class="loading">
        <span class="ll">L</span>
        <span class="lo">o</span>
        <span class="la">a</span>
        <span class="ld">d</span>
        <span class="li">i</span>
        <span class="ln">n</span>
        <span class="lg">g</span>
        <span class="lt">.</span>
        <span class="ltt">.</span>
        <span class="lttt">.</span>
        
    </div>
</body>
</html>